
/* Reset the default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Sticky Header */
.sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #002D72; 
    color: white;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo and Course Tittle*/
.logo-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: auto;
}
.course-title {
    font-size: 24px;
    font-weight: bold;
}


/* Navigation menu */
nav {
    flex-grow: 1;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}


.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px); 
    border-radius: 5px;
}


/* Hide the checkbox */
#menu-toggle {
    display: none;
}

/* Mobile menu */
.menu-icon {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}


/* Hero Section */
.hero {
    background-color: #002D72;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero-logo{
    height: auto;
}



/* Responsive for Mobile */
@media (max-width: 768px) {
    /* show the menu icon */
    .menu-icon {
        display: block;
    }

    /* Hide the nav-links by default */
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #002D72; 
        width: 100%;
        padding: 10px;
        position: absolute;
        top: 60px;
        left: 0;
    }

    /*Show menu when checkbox is checked */
    #menu-toggle:checked ~ nav .nav-links {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 10px;
    }
}


/* Responsive for Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .nav-links {
        gap: 20px;
    }

}

/* Footer */
footer{
    position: relative;
    width: 100%;
    background-color: #002D72;
    padding: 60px 50px 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

}

footer .social-links,
.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; 
    flex-wrap: wrap;
}
footer .social-links li, 
.menu li{
    list-style: none;
}
footer .social-links li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-links li a:hover{
    transform: translateY(-10px);

}
footer .menu li a{
    font-size: 1.5em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.50;
}
footer .menu li a:hover{
    opacity: 1;
}
footer .cs_department a{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    text-decoration: none;
}

footer .cs_department a:hover{
    opacity: 0.8;
}
footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
    bottom: -10px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
} 

footer .waves{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    z-index: 0; 
}

/* welcome section */
.welcome{
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.welcome h2{
    color: #002D72;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.welcome h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
}

.welcome p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #333;
}

.learning-list{
    text-align: left;
    display: inline-block;
    margin-top: 15px;
}

.learning-list ul{
    margin-left: 20px;
}

.learning-list li{
    font-size: 18px;
    margin-bottom: 8px;
}
.learning-list li strong{
    color: #002D72;
    font-size: 20px;
}


/* Course Resources */

.course-resources{
    text-align: center;
    padding: 50px 20px;
}

.course-resources h2{
    font-size: 28px;
    color: #002D72;
    margin-bottom: 30px;
}

.resources-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}
@media(max-width: 1024px){
    .resources-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 768px){
    .resources-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

.resource-card{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;     
}

.resource-card:hover{
    transform: translateY(-5px);
}

.resource-card i{
    font-size: 40px;
    color: #002D72;
    margin-bottom: 15px;
}

.resource-card h3{
    font-size: 20px;
    color: #002D72;
}

.resource-card p{
    font-size: 14px;
    margin-bottom: 15px;
}
.btn{
    display: inline-block;
    padding: 10px 15px;
    background-color: #002D72;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: #0056b3;
}

/*News & Announcements*/
.news-announcements{
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
}

.news-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

.news-card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: left;
    transition: transform 0.3s ease;     
}

.news-card:hover{
    transform: translateY(-5px);
}

.news-card h3{
    font-size: 20px;
    color: #002D72;
    margin-bottom: 10px;
}

.news-card .date{
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.news-card p{
    font-size: 16px;
    color: #333;
}

@media (max-width: 768px){
    .news-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/* Course Calendar*/
.calendar-section{
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.calendar-section h2{
    color: #002D72;
    font-size: 28px;
    margin-bottom: 20px;
}

.calendar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.calendar-container iframe{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

@media (max-width: 768px){
    .calendar-container iframe{
        height: 400px;
    }
}

/* Instructor Information */
.instructor-contact{
    text-align: center;
    padding:40px;
    background-color:#fff;
}

.instructor-contact h2{
    color: #002D72;
}

.instructor-contact p{
    margin-bottom: 15px;
    color: #333;
}

.instructor-contact a{
    color: #002D72;
    font-weight: bold;
}
.instructor-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.instructor-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.instructor-details{
    text-align: left;
}

@media (max-width: 768px){
    .instructor-info{
        flex-direction: column;
        text-align: center;
    }
}

/* Academic Integrity */
.academic-integrity{
    text-align: center;
    padding: 50px;
    background-color: #f8f9fa;
}

.academic-integrity h2{
    color: #002D72;
    margin-bottom: 20px;
}

.academic-integrity p{
    font-size: 1.1em;
    color: #333;
    max-width: 1000px;
    margin: 0 auto 20px;
    text-align: center;
}
.academic-integrity a{
    color: #002D72;
    font-weight: bold;
    text-decoration: none;
}
.academic-integrity a:hover{
    text-decoration: underline;
}

.plagiarism-rules{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 30px auto;
    text-align: left;
}

.plagiarism-rules h3{
    color: #002D72;
    margin-bottom: 15px;
}

.plagiarism-rules ul{
    list-style: disc;
    padding-left: 30px;
}

.plagiarism-rules li{
    font-size: 1.1em;
    color: #555;
    margin:10px 0;
}

.tutoring-warning{
    background-color: #ffecec;
    padding: 20px;
    border-left: 5px solid red;
    max-width: 800px;
    margin: 30px auto;
    text-align: left;
}
.tutoring-warning h3{
    color: red;
    margin-bottom: 10px;
}
.tutoring-warning p{
    color: #555;
    font-size: #555;
}

html, body {
    height: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}


footer {
    width: 100%;
    background-color: #002D72;
    padding: 60px 50px 120px;
    text-align: center;
    position: relative;
    margin-top: auto; 

}


/* Persistent message*/
  
.persistent-message {
    text-align: center;
    background-color:#e6f2ff;
    color: #002D72;
    padding: 15px 20px;
    margin: 30px auto 20px;
    max-width: 800px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    border: 1px solid #cce0f5;
}
  