
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Syllabus Header */
.syllabus-header {
    background: rgba(169, 169, 169, 0.3);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 1100px;
}

.syllabus-header h2 {
    color: #002D72;
    font-size: 24px;
    font-weight: bold;
}

/* Syllabus download button */
.download-btn {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 45, 114, 0.8); 
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 2px solid white;
}

.download-btn:hover {
    background: rgba(0, 45, 114, 0.9);
    transform: translateY(-2px);
    background-color: rgba(0, 45, 114, 1);
    color: #f0f0f0;
}

/* Syllabus grid */
.syllabus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.syllabus-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 90%;
    max-width: 1100px;
}

/* Syllabus item */
.syllabus-item {
    background: rgba(220, 220, 220, 0.7);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease, height 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1a1a1a; 
}


.syllabus-item:hover {
    background: rgba(0, 45, 114, 0.3);
    transform: translateY(-5px);
    min-height: 150px; 
    color: #002D72;
}


.syllabus-info {
    display: none; 
    font-weight: normal;
    color: black;
    padding-top: 10px;
}


.syllabus-item:hover .syllabus-info {
    display: block;
}


@media (max-width: 768px) {
    .syllabus-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1024px) {
    .syllabus-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
.syllabus-container {
    flex-grow: 1;
}