<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 - Lecture Notes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/syllabus.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/assignments.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/labs.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lecture_notes.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" type="image/svg+xml" href="https://www.utsc.utoronto.ca/favicon.ico">
</head>
<body>
    <!-- Sticky Header-->
    <header class="sticky">
        <!-- mobile menu-->
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">☰</label>

        <div class="logo-container">
            <h1 class="course-title">CSCB20</h1>
        </div>

        
        <!-- Navigation Bar -->
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{url_for('syllabus')}}">Syllabus</a></li>
                <li><a href="{{url_for('assignments')}}">Assignments</a></li>
                <li><a href="{{url_for('labs')}}">Labs</a></li>
                <li><a href="{{url_for('lecture_notes')}}">Lecture Notes</a></li>
                <li><a href="https://piazza.com/class/m5fmz9kzjo83yk" target="_blank">Piazza</a></li>
                <li><a href="https://markus2.utsc.utoronto.ca/" target="_blank">MarkUs</a></li>
                <li><a href="{{url_for('feedback')}}">FeedBack</a></li>
                <li><a href="{{url_for('course_team')}}">Course Team</a></li>
                <li><a href="{{url_for('grade')}}">Grades</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
         </nav>

         

    </header>

    <!-- Lecture Notes Header -->
    <section class="lecture-header">
        <h2>CSCB20 - Lecture Notes</h2>
    </section>

    <!-- Lecture Notes Container -->
    <section class="lecture-container">
        <div class="lecture-grid">

            <!-- Week 0 -->
            <div class="lecture-item">
                <p class="week-title">Week 0</p>
                <a href="{{url_for('static', filename='lecture_notes/Week0.pdf')}}" class="lecture-download">Lecture Notes</a>
            </div>

            <!-- Week 1 -->
            <div class="lecture-item">
                <p class="week-title">Week 1</p>
                <a href="{{url_for('static', filename='lecture_notes/Week1.pdf')}}" class="lecture-download">Lecture Notes</a>
            </div>

            <!-- Week 2 -->
            <div class="lecture-item">
                <p class="week-title">Week 2</p>
                <a href="{{url_for('static', filename='lecture_notes/Week2.pdf')}}" class="lecture-download">Lecture Notes</a>
            </div>

            <!-- Week 3 -->
            <div class="lecture-item">
                <p class="week-title">Week 3</p>
                <a href="{{url_for('static', filename='lecture_notes/Week3.pdf')}}" class="lecture-download">Lecture Notes</a>
            </div>

            <!-- Week 4 -->
            <div class="lecture-item">
                <p class="week-title">Week 4</p>
                <a href="{{url_for('static', filename='lecture_notes/Week4.pdf')}}" class="lecture-download">Lecture Notes</a>
            </div>

            <!-- Week 5 -->
            <div class="lecture-item">
                <p class="week-title">Week 5</p>
                <a href="{{url_for('static', filename='lecture_notes/Week5.pdf')}}" class="lecture-download">Lecture Notes</a>
            </div>

            <!-- Week 6 -->
            <div class="lecture-item">
                <p class="week-title">Week 6</p>
                <a href="{{url_for('static', filename='lecture_notes/Week6.pdf')}}" class="lecture-download">Lecture Notes</a>
            </div>

            <!-- Week 7 -->
            <div class="lecture-item">
                <p class="week-title">Week 7</p>
                <a href="{{url_for('static', filename='lecture_notes/Week7.pdf')}}" class="lecture-download">Lecture Notes</a>
            </div>

            <!-- Week 8 -->
            <div class="lecture-item">
                <p class="week-title">Week 8</p>
                <a href="{{url_for('static', filename='lecture_notes/Week8.pdf')}}" class="lecture-download">Lecture Notes</a>
            </div>

        </div>
    </section>




    <!-- Footer -->
    <footer>
        
        <ul class="menu"> 
            <li><a href="https://acorn.utoronto.ca/" target="_blank">ACORN</a></li>
            <li><a href="https://www.utoronto.ca/" target="_blank">U OF T MAIN</a></li>
            <li><a href="https://q.utoronto.ca/" target="_blank">QUERCUS</a></li>
            <li><a href="{{url_for('feedback')}}">WEBSITE FEEDBACK</a></li>
        </ul>
         
        <ul class="social-links">
            <li><a href="https://www.facebook.com/UofTCompSci/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li> 
            <li><a href="https://instagram.com/uoftcompsci" target="_blank"><i class="fa-brands fa-instagram"></i></a></li> 
            <li><a href="https://www.linkedin.com/school/uoftcompsci/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li> 
            <li><a href="https://www.threads.net/@uoftcompsci" target="_blank"><i class="fa-brands fa-threads"></i></a></li> 
            <li><a href="http://x.com/uoftcompsci" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li> 
        </ul>
        <p class="cs_department"><a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a></p>
        <p>Site Designed by <b>Kevin Hou</b> & <b>Judy Xu</b> & <b>Siming Wu</b></p>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        
        
    </footer>
     <!--Dark Mode toggle-->
     <div class="theme-toggle">
        <input type="checkbox" id="dark-mode-toggle">
        <label for="dark-mode-toggle" class="toggle-label">
            <i class="fa-regular fa-moon"></i>
            <i class="fa-regular fa-sun"></i>
        </label>
    </div>  
</body>
</html>